.container-searchBox {
  display: flex;
  justify-content: center;
  .searchBox {
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    column-gap: 2vw;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: -10vh;
    z-index: 3;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);

    .searchBoxItem {
      width: 100%;
      label {
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
    .searchBoxButton {
      min-width: 100px;
      margin-top: 31px;
    }
  }
}

.search-page-hero {
  height: 70vh !important;
  padding-top: 0 !important;
  .left-hero {
    height: unset !important;
  }
  .right-hero {
    img {
      height: 50vh !important;
      margin-top: 30px !important;
    }
  }
}

.datepicker-container {
  position: relative;
}

.datepicker {
  border: none;
  color: black;
  position: absolute;
  right: 4px;
  top: 6px;
  width: 190px;
  opacity: 0;
}
.datepicker:focus {
  outline: none;
}

.result-container {
  display: flex;
  width: 100%;
  justify-content: center;
  .cards {
    width: 80%;
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-top: 20vh;
  }
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.432);
  display: none;
}

.showBackdrop {
  display: unset;
}

.navbar {
  z-index: 2;
}

.card-img-top {
  height: 30vh;
  object-fit: cover;
}

.btn-card {
  width: 100%;
  padding: 10px;
}

.rentperday {
  font-weight: bold;
}

.form-tanggal {
  background-color: white !important;
}

.datepick {
  width: 23px;
  position: absolute;
  top: 37px;
  right: 5px;
}

.timepick {
  position: absolute;
  width: 25px;
  bottom: 33px;
  right: 9px;
}

.capacitypick {
  position: absolute;
  right: 6px;
  bottom: 34px;
}
@media (max-width: 480px) {
  .searchBox {
    height: fit-content !important;
    flex-wrap: wrap;
  }

  .search-page-hero {
    height: 100vh !important;
    justify-content: space-around !important;

    .right-hero {
      height: 50vh;
      img {
        margin-bottom: unset;
      }
    }
  }

  .datepick {
    top: 35px !important;
  }

  .timepick {
    bottom: 6px;
    right: 3px;
  }

  .capacitypick {
    bottom: 8px;
  }

  .cards {
    padding-top: 50vh !important;
  }
}
