.our-services {
  display: flex;
  padding-top: 10vh;
  .image-services {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .container-services {
      width: 85%;
      * {
        margin: 1vh 0;
      }
      h2 {
        font-size: 5vh;
        font-weight: 600;
      }
      .check-services {
        display: flex;

        p {
          padding-left: 5px;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 601px) {
  .our-services {
    flex-direction: column;
    align-items: center;
    .image-services {
      padding-top: 5vh;
      img {
        width: 50vw;
      }
    }
    .services {
      padding-top: 5vh;
      width: 90%;
    }
  }
}

@media (max-width: 600px) {
  .our-services {
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    .image-services {
      padding: 5vh 0;
      width: 90%;
      padding-right: 10%;
      img {
        width: inherit;
      }
    }

    .services {
      width: 95%;
      .container-services {
        width: inherit;
        text-align: justify;
        text-justify: inter-word;

        & > p {
          margin: 3vh 0;
        }
        h2 {
          font-size: 5vh;
        }
        p {
          font-size: 2.5vh;
          margin-right: 2.5vw;
        }
      }
    }
  }
}
