.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin: 2vh 0;
  }
  h2 {
    font-weight: bold;
  }
}

.owl-carousel {
  .carousel-testi {
    background: #f1f3ff;
    /* Shadow/Low */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 5vh 0;

    .img-testi {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 3vw;
      img {
        width: 90px;
        height: 90px;
      }
    }

    .text-testi {
      .card-body {
        img {
          width: 80px;
          height: 16px;
        }
        display: flex;
        flex-direction: column;
        row-gap: 1.5vh;

        p {
          margin-bottom: 0;
        }

        .name-testi {
          font-weight: bold;
        }
      }
    }
  }
}
#owl-container {
  transform: translateX(-15%);
  width: 150%;
  position: relative;
  margin-top: 25px;
  height: fit-content;
}

.container-CTA {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15vh 0;

  .CTA {
    background-color: #0d28a6;
    border-radius: 13px;
    width: 85%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    * {
      margin: 3vh 0;
    }
    h2 {
      font-weight: bold;
    }
    p {
      font-size: 2vh;
      width: 40vw;
      text-align: center;
    }
  }
}

// .owl-item {
//   width: 650px !important;
//   margin: 0 2vw;
// }

// .owl-stage {
//   display: flex;
//   width: 7500px !important;
// }

// .owl-stage-outer {
//   display: flex;
//   justify-content: center;
// }

.owl-nav {
  button {
    border-radius: 100px !important;
  }
}

@media (max-width: 991px) and (min-width: 601px) {
  .testimonial {
    padding: 0;
    h2 {
      font-size: 4vh;
    }
    p {
      font-size: 1.5vh;
    }
  }
  .carousel-testi {
    width: 95vw;
  }

  #owl-container {
    transform: translateX(1.5%);
  }

  .owl-nav {
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .container-CTA {
    .CTA {
      width: 90%;
      h2 {
        text-align: center;
      }
      p {
        width: 80%;
      }
    }
  }
  #owl-container {
    transform: translateX(2%);
  }

  .owl-nav {
    width: 100vw;
  }

  .carousel-testi {
    width: 94vw;
  }

  // .owl-stage {
  //   display: flex;
  //   width: 4000px !important;
  //   margin-left: 7vw;
  // }
  // .owl-stage-outer {
  //   display: block;
  // }

  .rate {
    align-self: center;
  }

  .img-testi {
    padding: 0 !important;
  }
}
