.why-us {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10vh 0;
  .container-why-us {
    width: 85%;
    h2 {
      font-weight: bold;
      font-size: 4vh;
    }
    & > * {
      margin: 4vh 0;
    }
    .list-item {
      display: flex;
      justify-content: space-between;
      .item {
        border: 1px solid #d0d0d0;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 4vh 2vw;
        width: 19vw;
        height: 31vh;
        * {
          margin: 1.4vh 0;
        }

        h3 {
          font-size: 2.4vh;
          font-weight: bold;
        }
        p {
          font-size: 1.8vh;
        }
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 601px) {
  .container-why-us {
    p {
      font-size: 2vh;
    }
    .list-item {
      flex-direction: row;
      flex-wrap: wrap;
      .item {
        img {
          width: 50px;
        }
        width: 40vw !important;
        margin-bottom: 3vh;
      }
    }
  }
}

@media (max-width: 600px) {
  .container-why-us {
    h2,
    p {
      text-align: center;
    }
    .list-item {
      flex-direction: column;
      row-gap: 3vh;
      .item {
        width: inherit !important;
        display: flex;
        flex-direction: column;
        padding: 2vh 5vw !important;
        img {
          width: 40px;
        }
        h3 {
          font-size: 3vh !important;
        }
        p {
          font-size: 2.2vh !important;
          text-align: start;
        }
      }
    }
  }
}
