@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10vh;
}

.our-services .image-services {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-services .services {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-services .services .container-services {
  width: 85%;
}

.our-services .services .container-services * {
  margin: 1vh 0;
}

.our-services .services .container-services h2 {
  font-size: 5vh;
  font-weight: 600;
}

.our-services .services .container-services .check-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-services .services .container-services .check-services p {
  padding-left: 5px;
  margin-bottom: 0;
}

@media (max-width: 991px) and (min-width: 601px) {
  .our-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-services .image-services {
    padding-top: 5vh;
  }
  .our-services .image-services img {
    width: 50vw;
  }
  .our-services .services {
    padding-top: 5vh;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .our-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5vh;
  }
  .our-services .image-services {
    padding: 5vh 0;
    width: 90%;
    padding-right: 10%;
  }
  .our-services .image-services img {
    width: inherit;
  }
  .our-services .services {
    width: 95%;
  }
  .our-services .services .container-services {
    width: inherit;
    text-align: justify;
    text-justify: inter-word;
  }
  .our-services .services .container-services > p {
    margin: 3vh 0;
  }
  .our-services .services .container-services h2 {
    font-size: 5vh;
  }
  .our-services .services .container-services p {
    font-size: 2.5vh;
    margin-right: 2.5vw;
  }
}

.why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10vh 0;
}

.why-us .container-why-us {
  width: 85%;
}

.why-us .container-why-us h2 {
  font-weight: bold;
  font-size: 4vh;
}

.why-us .container-why-us > * {
  margin: 4vh 0;
}

.why-us .container-why-us .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-us .container-why-us .list-item .item {
  border: 1px solid #d0d0d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 4vh 2vw;
  width: 19vw;
  height: 31vh;
}

.why-us .container-why-us .list-item .item * {
  margin: 1.4vh 0;
}

.why-us .container-why-us .list-item .item h3 {
  font-size: 2.4vh;
  font-weight: bold;
}

.why-us .container-why-us .list-item .item p {
  font-size: 1.8vh;
}

@media (max-width: 991px) and (min-width: 601px) {
  .container-why-us p {
    font-size: 2vh;
  }
  .container-why-us .list-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-why-us .list-item .item {
    width: 40vw !important;
    margin-bottom: 3vh;
  }
  .container-why-us .list-item .item img {
    width: 50px;
  }
}

@media (max-width: 600px) {
  .container-why-us h2,
  .container-why-us p {
    text-align: center;
  }
  .container-why-us .list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3vh;
  }
  .container-why-us .list-item .item {
    width: inherit !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2vh 5vw !important;
  }
  .container-why-us .list-item .item img {
    width: 40px;
  }
  .container-why-us .list-item .item h3 {
    font-size: 3vh !important;
  }
  .container-why-us .list-item .item p {
    font-size: 2.2vh !important;
    text-align: start;
  }
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial > * {
  margin: 2vh 0;
}

.testimonial h2 {
  font-weight: bold;
}

.owl-carousel .carousel-testi {
  background: #f1f3ff;
  /* Shadow/Low */
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 5vh 0;
}

.owl-carousel .carousel-testi .img-testi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 3vw;
}

.owl-carousel .carousel-testi .img-testi img {
  width: 90px;
  height: 90px;
}

.owl-carousel .carousel-testi .text-testi .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5vh;
}

.owl-carousel .carousel-testi .text-testi .card-body img {
  width: 80px;
  height: 16px;
}

.owl-carousel .carousel-testi .text-testi .card-body p {
  margin-bottom: 0;
}

.owl-carousel .carousel-testi .text-testi .card-body .name-testi {
  font-weight: bold;
}

#owl-container {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  width: 150%;
  position: relative;
  margin-top: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container-CTA {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15vh 0;
}

.container-CTA .CTA {
  background-color: #0d28a6;
  border-radius: 13px;
  width: 85%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.container-CTA .CTA * {
  margin: 3vh 0;
}

.container-CTA .CTA h2 {
  font-weight: bold;
}

.container-CTA .CTA p {
  font-size: 2vh;
  width: 40vw;
  text-align: center;
}

.owl-nav button {
  border-radius: 100px !important;
}

@media (max-width: 991px) and (min-width: 601px) {
  .testimonial {
    padding: 0;
  }
  .testimonial h2 {
    font-size: 4vh;
  }
  .testimonial p {
    font-size: 1.5vh;
  }
  .carousel-testi {
    width: 95vw;
  }
  #owl-container {
    -webkit-transform: translateX(1.5%);
            transform: translateX(1.5%);
  }
  .owl-nav {
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .container-CTA .CTA {
    width: 90%;
  }
  .container-CTA .CTA h2 {
    text-align: center;
  }
  .container-CTA .CTA p {
    width: 80%;
  }
  #owl-container {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  .owl-nav {
    width: 100vw;
  }
  .carousel-testi {
    width: 94vw;
  }
  .rate {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .img-testi {
    padding: 0 !important;
  }
}

.faq {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .container-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
}

.faq .container-faq .text-faq * {
  margin: 2vh 0;
}

.faq .container-faq .text-faq h2 {
  font-size: 3.8vh;
  font-weight: bold;
}

.faq .container-faq .text-faq p {
  font-size: 2.3vh;
}

.faq .container-faq .accordion {
  width: 55%;
}

.faq .container-faq .accordion .accordion-item {
  margin: 2vh 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.faq .container-faq .accordion .accordion-item .accordion-button {
  font-size: 2.1vh;
  padding: 2vh 2vw;
}

@media (max-width: 991px) {
  .container-faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-faq .text-faq {
    text-align: center;
  }
  .container-faq .accordion {
    width: 100% !important;
  }
  .container-faq .accordion .accordion-button {
    font-size: 2.5vh !important;
    line-height: 20px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8vh 0;
}

footer .container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  font-size: 2.1vh;
  -webkit-column-gap: 4vw;
          column-gap: 4vw;
}

footer .container-footer .button {
  font-weight: bold;
}

footer .container-footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991px) {
  .container-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5vh;
    font-size: 2.7vh !important;
  }
  .container-footer .social-media img {
    width: 40vw;
  }
}

.container-searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-searchBox .searchBox {
  width: 80%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-top: -10vh;
  z-index: 3;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.container-searchBox .searchBox .searchBoxItem {
  width: 100%;
}

.container-searchBox .searchBox .searchBoxItem label {
  font-size: 15px;
  margin-bottom: 5px;
}

.container-searchBox .searchBox .searchBoxButton {
  min-width: 100px;
  margin-top: 31px;
}

.search-page-hero {
  height: 70vh !important;
  padding-top: 0 !important;
}

.search-page-hero .left-hero {
  height: unset !important;
}

.search-page-hero .right-hero img {
  height: 50vh !important;
  margin-top: 30px !important;
}

.datepicker-container {
  position: relative;
}

.datepicker {
  border: none;
  color: black;
  position: absolute;
  right: 4px;
  top: 6px;
  width: 190px;
  opacity: 0;
}

.datepicker:focus {
  outline: none;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-container .cards {
  width: 80%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  padding-top: 20vh;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.432);
  display: none;
}

.showBackdrop {
  display: unset;
}

.navbar {
  z-index: 2;
}

.card-img-top {
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-card {
  width: 100%;
  padding: 10px;
}

.rentperday {
  font-weight: bold;
}

.form-tanggal {
  background-color: white !important;
}

.datepick {
  width: 23px;
  position: absolute;
  top: 37px;
  right: 5px;
}

.timepick {
  position: absolute;
  width: 25px;
  bottom: 33px;
  right: 9px;
}

.capacitypick {
  position: absolute;
  right: 6px;
  bottom: 34px;
}

@media (max-width: 480px) {
  .searchBox {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search-page-hero {
    height: 100vh !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .search-page-hero .right-hero {
    height: 50vh;
  }
  .search-page-hero .right-hero img {
    margin-bottom: unset;
  }
  .datepick {
    top: 35px !important;
  }
  .timepick {
    bottom: 6px;
    right: 3px;
  }
  .capacitypick {
    bottom: 8px;
  }
  .cards {
    padding-top: 50vh !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica;
}

body {
  overflow-x: hidden;
}

.btn-success {
  background-color: #5cb85f;
}

.offcanvas-end {
  width: 50%;
}

.container-fluid {
  padding: 0;
}

.navbar {
  padding: 2vh 10vw;
  background-color: transparent !important;
  width: 100%;
}

.nav-item {
  margin: 0 0.5vw;
}

.nav-link {
  color: black !important;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 1;
  background-color: #f1f3ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20vh;
}

.hero .right-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 40vh;
}

.hero .right-hero .car-background {
  width: 50vw;
  height: 40vh;
  background: #0d28a6;
  border-radius: 60px 0px 0px 0px;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.hero .right-hero img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 60vh;
  width: 50vw;
}

.hero .left-hero {
  width: 50vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero .left-hero .container-hero {
  width: 39vw;
}

.hero .left-hero .container-hero * {
  margin: 2vh 0;
}

.hero .left-hero .container-hero h1 {
  font-weight: 600;
  font-size: 5vh;
}

.hero .left-hero .container-hero p {
  width: 30vw;
  font-size: 2vh;
}

@media (min-width: 992px) {
  .toggle-sidebar {
    display: none;
  }
}

@media (max-width: 991px) {
  #offcanvasRightLabel {
    font-weight: bold;
    font-size: 3vh;
  }
  .hero {
    height: 60vh;
    padding: 0;
  }
  .hero .right-hero .car-background {
    height: 30vh;
  }
  .hero .right-hero img {
    margin-bottom: -20%;
  }
  .hero .left-hero .container-hero {
    width: 40vw;
  }
  .hero .left-hero .container-hero h1 {
    font-size: 3.5vh;
  }
  .hero .left-hero .container-hero p {
    font-size: 1.3vh;
    width: inherit;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 2vh 5vw;
  }
  .navbar-nav {
    row-gap: 10px;
  }
  .hero {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .left-hero {
    width: 90vw;
    height: 70vh;
    padding-top: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .left-hero .container-hero {
    width: inherit;
  }
  .hero .left-hero .container-hero h1 {
    font-size: 11vw;
  }
  .hero .left-hero .container-hero p {
    width: 90vw;
    font-size: 3.2vw;
  }
  .hero .right-hero {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 30vh;
  }
  .hero .right-hero .car-background {
    bottom: 0;
    width: 95vw;
    height: 20vh;
    right: 0;
  }
  .hero .right-hero img {
    width: 95vw;
    height: 35vh;
    margin-bottom: -5vh;
  }
}
/*# sourceMappingURL=styles.css.map */