@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import "./services", "./why-us", "./testimonial", "./faq", "./footer",
  "./searchBox";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  overflow-x: hidden;
}

.btn-success {
  background-color: #5cb85f;
}
.offcanvas-end {
  width: 50%;
}
.container-fluid {
  padding: 0;
}

.navbar {
  padding: 2vh 10vw;
  background-color: transparent !important;
  width: 100%;
}

.nav-item {
  margin: 0 0.5vw;
}

.nav-link {
  color: black !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 1;
  background-color: #f1f3ff;
  display: flex;
  align-items: center;
  padding-top: 20vh;

  .right-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 40vh;
    .car-background {
      width: 50vw;
      height: 40vh;
      background: #0d28a6;
      border-radius: 60px 0px 0px 0px;
      position: absolute;
      z-index: -1;
      bottom: 0;
    }
    img {
      align-items: flex-end;
      height: 60vh;
      width: 50vw;
    }
  }

  .left-hero {
    width: 50vw;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .container-hero {
      width: 39vw;
      * {
        margin: 2vh 0;
      }
      h1 {
        font-weight: 600;
        font-size: 5vh;
      }
      p {
        width: 30vw;
        font-size: 2vh;
      }
    }
  }
}

@media (min-width: 992px) {
  .toggle-sidebar {
    display: none;
  }
}

@media (max-width: 991px) {
  // .navbar {
  //   background-color: #f1f3ff !important;
  // }
  #offcanvasRightLabel {
    font-weight: bold;
    font-size: 3vh;
  }
  .hero {
    height: 60vh;
    padding: 0;
    .right-hero {
      .car-background {
        height: 30vh;
      }
      img {
        margin-bottom: -20%;
      }
    }

    .left-hero {
      .container-hero {
        width: 40vw;
        h1 {
          font-size: 3.5vh;
        }
        p {
          font-size: 1.3vh;
          width: inherit;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 2vh 5vw;
  }
  .navbar-nav {
    row-gap: 10px;
  }
  .hero {
    height: 100vh;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    .left-hero {
      width: 90vw;
      height: 70vh;
      padding-top: 10vh;
      align-items: center;
      .container-hero {
        width: inherit;
        h1 {
          font-size: 11vw;
        }
        p {
          width: 90vw;
          font-size: 3.2vw;
        }
      }
    }
    .right-hero {
      align-items: flex-end;
      height: 30vh;
      .car-background {
        bottom: 0;
        width: 95vw;
        height: 20vh;
        right: 0;
      }
      img {
        width: 95vw;
        height: 35vh;
        margin-bottom: -5vh;
      }
    }
  }
}
